<!DOCTYPE html>
<html>
<head>
  <title>SmartEditor</title>
  <%= stylesheet_link_tag    "smart_editor/application", :media => "all" %>
  <%= javascript_include_tag "smart_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
